@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Pacifico&display=swap');

/*
common styles file
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../../img/milkshake.png');
    background-size: 50px;
    background-repeat: space;
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}


header nav ul {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
}

ul li {
    background-color: white;
    list-style: none;
    text-decoration: none;
    border: 1px solid #c6c4c4e6;
    border-radius: 8px 8px 0px 0px;
    padding: 16px 20px;
    cursor: pointer;
    transition: 0.3s;
}

ul li:hover {
    background-color: #f9abca;
    border: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #b9a3a3;
}

#content{
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    width: 100%;
    flex: 1;
}

.heading-container, .description-outer, .info-hours {
    margin-bottom: 20px;
    
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
}

.decoration.bubble-tea{
    width: 112px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}

.bubble-tea img{
    width: 100%;
    transform: rotate(17deg);
}

.description-outer{
    text-align: center;
}



@media (min-width: 51.25rem){
    #content {
        width: 82%;
    }

    .item {
        max-width: 57%;
      }
}